{% extends 'basic_app/base.html' %}
{% block body_block %}
<div align="center">
  <h1 id="history">MY History</h1>
</div>
<h2 id="his-overhead">Overview</h2>
<h5 id="his-over">On this page you will find the a list that contains all the
  languages that I have experience with.  Below the list will be a short summary
  to help give a better understanding of the level of experience with each one
</h5>
<div class="row">
  <div class="col-lg-4">
    <ul id="his-list">
      <li>Python</li>
      <li>JavaScript</li>
      <li>Html</li>
      <li>CSS</li>
      <li>Jquery</li>
    </ul>
  </div>
  <div class="col-lg-5 offset-lg-1"><img id="his-pic" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQ4519Zwixtz2NK3ndQFVYHfZY3lp9fJHBMiO4arjQBJQRyFKi_" alt=""></div>
  <div class="row">
    <div id="his-sum" class="col-lg-6 offset-lg-3">
      <h2>Summary</h2>
      <h5>Well to start, my experience lines up with the above list. I am most familiar
        Python. It was the first language I learned and I have completed a cousre full
        on with with Python.  I would say JavaScript and Html are very close with my
        level of ability.  Being as JavaScript and Python are similar with just slight
        syntax changes, I gave second to JavaScript.  All of these pages contain atleast
        some CSS. Finally The Connect Four game is almost made entirely from Jquery,
        and that just about sums it all up.  Thanks for checking out my site and please
        register to help me check my code.
      </h5>
    </div>
  </div>
</div>
{% endblock %}
