{% extends 'basic_app/base.html' %}
{% block body_block %}
    <div id="jumbotron" class="jumbotron" align="center">
      <h1>Welcome to Montes Web Page</h1>
      <h4>This is and example of my recent work!</h4>
      <p>Please register to help show your support</p>
    </div>
    <div id="story">
      <h2 class="stry">My Story</h2>
      <h5 class="stry">Hello World! My name is Monte, I would like to take this time to introduce
        myself.  I like to think of myslef as a hard working person.  All through
        my life I have always worked hard in a physical sense.  I have aquired many
        many skills.  Mostly in field like excavation and mechanics, I even do work
        as a first aid responder.  Still life was empty and none of things quenced
        my thirst for learning new things.  Then I found Programming, which is an
        ever evolving entity.  Writing code allows me to combine three of my favortite
        things, learning, building or creating, and finally challenging my mind.
        Well Thats enough about me, now go check out my site!  Thank you for visiting
      </h5>
    </div>
    <div class="row">
      <div id="main_1" class="col-lg-4"><h3>Programming is the future</h3></div>
      <div class="col-lg-4 offset-lg-4"><img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcR9geEE-sDqzsB2UHq4a9LpX91hgNPojRdfR0eVDdD8x3U4sPAf" alt=""></div>
    </div>
    <div class="row">
      <div class="col-lg-6"><img id="pic_1" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSDKQyat7pBwtXWHLSWgnww5sUJr2Ahedkiwd7__FScCKBBtBGQ" alt=""></div>
      <div id="main_2" class="col-lg-3 offset-lg-1">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</div>
    </div>
    <div class="row">
      <div id="main_3" class="col-lg-3 offset-1"><h4>I'm inspired to learn and continue to improve my programming skill.  Feel free to contact me with any projects for me to try</h6></div>
      <div class="col-lg-3 offset-2"><img id="main-pic-3" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSz7jydQdsH15-nndkRTBleD82Zfny1qs3ckqaHaFkEPRZqDXLZiw" alt=""></div>
    </div>
{% endblock %}
